.card--light-yellow {
    background-color: var(--clr-yellow-100);
}

.card--bright-yellow {
    background-color: var(--clr-yellow-500);
}

.card--light-purple {
    background-color: var(--clr-purple-100);
}

.card--bright-purple {
    background-color: var(--clr-purple-500);
}

.card--white {
    background-color: var(--clr-white);
}

.text-purple {
    color: var(--clr-purple-500);
}

.text-white {
    color: var(--clr-white);
}

.text-yellow {
    color: var(--clr-yellow-500);
}

.text-italic {
    font-style: italic;
}